<%= render 'shared/page_title', title: "showing all recipes" %>

<% @recipes.each do |recipe| %>
  <div class="row">
    <div class="col-md-2">
      <section class="center">
        <%= gravatar_for(recipe.chef, size: 70) %>
      </section>
    </div>
    <div class="col-md-8 well card">
      <div class="card-body">
        <h4 class="card-title"><%=link_to recipe.name, recipe_path(recipe) %></h4>
        <p class="card-body"><%=truncate(recipe.description, length: 150) %></p>
        <p>
          <span class ="quiet"><small>Created <%= time_ago_in_words(recipe.created_at)%> ago</small>
        </p>
      </div>
    </div>
  </div>
<% end %>
