<%= render 'shared/page_title',title: @recipe.name%>

<div class="col-md-8 card">
  <p class="center description">
    <strong>Steps</strong>
  </p>
  <hr />
  <%= simple_format(@recipe.description) %>
  <hr />
  <div class="pull-right">
    <p class="center">
      <em>Created by:</em>
    </p>
    <p class="center">
      <%= link_to gravatar_for(@recipe.chef), recipes_path %>
    </p>
    <p class="center">
      <small>  <%= @recipe.chef.name.capitalize%> </small>
    </p>
  </div>
  <div class="recipe-actions">
    <%= link_to "Edit this recipe", edit_recipe_path(@recipe), class: "btn btn-primary" %>
  </div>
</div>
