<%= render 'shared/page_title', title: 'showing all ingredients' %>

<div align = "center">
  <%= will_paginate @ingredients %>
</div>

<div align="center">
  <% @ingredients.each do |ingredient| %>

    <div class="card">
      <div class="card-body">
        <ul class="list-group">
          <%= link_to ingredient.name.capitalize, ingredient_path(ingredient), class: "list-group-item" %>
            <small><%=ingredient.recipes.count%> recipes</small>
            <% if current_user.admin?%>
              <%= link_to "Edit this ingredient", edit_ingredient_path(ingredient), class: "btn btn-primary" %>
            <%end%>
        </ul>
      </div>
    </div>
  <% end %>
</div>
